<?xml version="1.0" encoding="utf-8"?>
<Parameters>
  <Settings>
    <Appearance>
      <Mode>Light</Mode>
      <PrimaryColor>Purple</PrimaryColor>
      <SecondaryColor>Amber</SecondaryColor>
    </Appearance>
    <Window>
      <Height>900</Height>
      <Width>1427</Width>
    </Window>
  </Settings>
</Parameters>